@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
@use '../utils/media-mixins' as *;

.page-footer {
  background-color: $color-bg-dark;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  @extend %container;
  display: grid;
  
  @include md-max {
    grid-template-areas: 'con' 'soc' 'frm';
    row-gap: 60px;
  }
  @include lg-md {
    grid-template-areas: 'con soc' 'frm frm';
    row-gap: 60px;
  }
  @include lg-min {
    grid-template-areas: 'con soc frm';
    align-items: baseline;
    column-gap: 92px;
  }
}

.contacts {
  grid-area: con;
}

.socials {
  grid-area: soc;
}

.page-footer .form {
  grid-area: frm;
}
